# Increase log verbosity
log_level = "DEBUG"
datacenter = "hq-mgmt"
data_dir = "/var/nomad/data"
bind_addr = "{{ inventory_hostname }}"
name = "{{ inventory_hostname}}"
# Enable the server
server {
    consul {
        token = "{{ consul_encrypt_key }}"
    }
    enabled = true
    start_join = [{% for host in groups['nomad-boostrap'] %}"{{ hostvars[host]['inventory_hostname']}}"{% if not loop.last %},{% endif %}{% endfor %}]
}
